[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
channels = {extras = ["daphne"], version = "*"}
djoser = "*"
pillow = "*"
django-cors-headers = "*"
django-filter = "*"
transformers = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
numpy = "*"
scipy = "*"
implicit = "*"
textblob = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.10"
